.appBar {
  background #DF2531
  h1 {
    float left
    color white
    font-weight 100
    padding 15px
    margin 0
    font-size 15px
  }
  .login {
    color white
    padding 15px
    float right
  }
  a {
    margin-left 20px
    color white
    font-weight bold
  }
}